@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --theme-blue: #4285F4;
    --theme-green: #34A853;
    --theme-yellow: #FBBC05;
    --theme-red: #EA4335;
    --theme-black: rgb(0, 0, 0, 0.6);
    --default-pad: 20px;
    --default-border: solid 1px #eee;
}

body,
ul,
.todo-holder,
#cardarea {
    display: flex;
    flex-direction: column;
}

ul {
    gap: 10px;
}

#cardarea {
    flex: 1;
    overflow-y: auto;
    display: flex;
    padding: var(--default-pad);
    gap: var(--default-pad);
}

.header {
    width: auto;
    display: flex;
    padding: 10px var(--default-pad);
    gap: 10px;
}

.proj-title {
    border-top: var(--default-border);
}

.logo {
    align-self: center;
    padding: var(--default-pad);
    justify-content: center;
    border-bottom: var(--default-border);
}

.sidebar {
    display: none;
    padding: var(--default-pad);
    flex-direction: column;
    gap: var(--default-pad);
}

.visible {
    display: flex;
    border-bottom: var(--default-border);
}

.hidden {
    display: none;
}

ul > li
 {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 2em;
}

ul.projects {
    padding: 0;
    list-style-type: none;
}

.proj-item {
    display: flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
}

.proj-item > div {
    flex: 1
}

.proj-item > button {
    display: flex;
}

.proj-item > *,
.proj-title {
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s cub5ic-bezier(0.075, 0.82, 0.165, 1);
}

.modal.modal-visible {
    pointer-events: auto;
    opacity: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--default-pad);
    align-items: center;
    transform: translate( -50%, -50%);
    width: 200px;
}

#addtodo {
    align-self: center;
    margin-bottom: var(--default-pad);
}

@media only screen and (min-width: 600px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto 1fr;
    }

    .header {
        width: auto;
        align-self: center;
    }

    .sidebar {
        display: flex;
    }

    .proj-title {
        border-top: none;
        cursor:auto;
    }

    .proj-title > img {
        display: none;
    }

    .logo,
    .sidebar {
        justify-content: left;
        border-right: var(--default-border);
    }

    #addtodo {
        align-self: flex-end;
        margin: 0 var(--default-pad) var(--default-pad) 0;
    }
}

/* STYLING */
* {
    margin: 0;
    padding: 0;
    /* border: solid 1px red */
}

ul {
    list-style: none;
}

img {
    filter: invert(0.4);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--theme-black);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.proj-title {
    font-size: 1.2em;
}

.list-title {
    font-weight: bold;
}

.proj-item > button {
    background-color: #fff;
    border: none;
    visibility: hidden;
}

.proj-item:hover > button {
    visibility: visible;
}

.card {
    padding: var(--default-pad);
    border-radius: var(--default-pad);
    border: var(--default-border);
}

ul.importance > li::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0 0.75rem 0 0.25rem;
}

ul.importance > li:nth-of-type(1)::before {
    background: var(--theme-red);
}

ul.importance > li:nth-of-type(2)::before {
    background: var(--theme-yellow);
}

ul.importance > li:nth-of-type(3)::before {
    background: var(--theme-green);
}

ul.timeline > li::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    object-fit: scale-down;
    background-repeat: no-repeat;
    filter: invert(0.3);
}

ul.timeline > li:nth-of-type(1)::before {
    background: url('./icons/today.png');
}

ul.timeline > li:nth-of-type(2)::before {
    background: url('./icons/week.png');
}

ul.timeline > li:nth-of-type(3)::before {
    background: url('./icons/missed.png');
}

.modal {
    background-color: var(--theme-black);
}

.modal-content {
    border-radius: 10px;
    padding: var(--default-pad);
    background-color: white;
}

form {
    font-size: 0.9em;
}

form > input {
    border: none;
    border-bottom: solid 1px #ddd;
    text-align: center;
    width: 100%;
    line-height: 1.5rem;
}

textarea,
form > input {
    outline-width: 0;
}

form > input[type=submit] {
    text-align: center;
    padding: 4px 10px;
    background-color: var(--theme-blue);
    color: white;
    border: var(--theme-blue);
    border-radius: 3px;
    width: 60%
}

input[type=radio]{
    height: 0;
    width: 0;
}

#addtodo {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--theme-blue);
    border: none;
    cursor: pointer;
}

#addtodo:hover {
    scale: 1.05;
    transition: 0.3s cub5ic-bezier(0.075, 0.82, 0.165, 1);;
}

#addtodo > img {
    filter: invert(1);
}

textarea {
    resize: none;
    border: var(--default-border);
    font-family: inherit;
    font-size: 100%;
    padding: 10px;
}

.priority-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.priority-button {
    height: 20px;
    border-radius: 10px;
    width: 55px;
    display: flex;
    font-size: 0.9em;
    line-height: 1.5em;
    border: solid 2px #eee;
    justify-content: center;
}

.priority-button:focus-within:nth-of-type(1)  {
    border: solid 2px var(--theme-green);
    color: var(--theme-green);
    font-weight: bold;
}

.priority-button:focus-within:nth-of-type(2)  {
    border: solid 2px var(--theme-yellow);
    color: var(--theme-yellow);
    font-weight: bold;
}

.priority-button:focus-within:nth-of-type(3)  {
    border: solid 2px var(--theme-red);
    color:var(--theme-red);
    font-weight: bold;
}

.bolded {
    font-weight: bold;
}