* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px 1fr;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .proj-list {
        display: none;
    }

    .visible {
        display: block;
    }
}


.logo {
    background-color: red;
}

.proj-title {
    background-color: yellow;
}

.proj-list {
    background-color: rebeccapurple;
}

.todo-holder {
    background-color: antiquewhite;
}